<div class="header py-7 py-lg-8">

</div>
<div class="container cardimg mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Login</small>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend col-12 p-0">
                  <span class="input-group-text col-12 p-0"><label class="col-12" style="text-align: center">Email</label></span>
                </div>
                <div class="col-12 p-0"><input type="email" class="form-control" formControlName="email" placeholder="">
                </div>
                <div class="col-12" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="text-danger">Please enter your email</div>
              </div>
            </div>
            <div class="form-group pt-4">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend col-12 p-0">
                  <span class="input-group-text col-12 p-0"><label class="col-12" style="text-align: center">Mot de passe</label></span>
                </div>
               <div class="col-12 p-0"> <input type="password" class="form-control" formControlName="password" placeholder="">
               </div>
                <div class="col-12" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="text-danger">Please enter your password</div>
              </div>
            </div>
            <div class="button-row pt-4 fixed-width">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary ">Login</button>
            </div>
          </form>
          <div class="button-row fixed-width">
            <button type="button" class="btn btn-primary " (click)="register()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
